*{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body{
   background-color: #fafafa;
   color: #4e525b;

}

.header{
   padding:0 0 1px 0;
   background-color: #e9e9e9;
   ;
}

.form{
   padding: 10px;
}


.logo{
   font-size: 25px;
   display: flex;
   margin-left: 20px;
   justify-content: start;
   position: absolute;
   
}
.blue{
color: #4c8cf5;
}
.red{
   color: #ea4335;
}
.yellow{
   color: #fcca38;
}
.green{
   color: #34a853;
}

.sub{
   padding-top: 30px;
   margin-left: 20px;
}

.titulo{
   padding-top: 20px;
}

.top{
   background-color: #FFF;
   padding: 10px 20px;
}

.input{
   width: 48px;
   height: 23px;
   border-radius: 8px;
   border: 1px solid #ccc;
   margin: 0 5px 0;
  
}
.chave{
   display: inline-flex;
   padding: 5px;
  
   
}

textarea{
  border-radius: 8px;
   resize: none;
   border: 1px solid #ccc;
   margin: 5px;
   padding: 10px;
   

}

.subtitulo{
   padding-bottom: 0px;
   font-size:small;

}

#root{
   text-align: center;
   padding: 20px;
   
}

#saiba-mais{
   font-size: 12px;
   border: none;
   display: block;
   margin-right: 20px;
   color: #4e525b;
   background-color: #fafafa;
   
}

#button{
   padding: 10px 30px;
   border-radius: 5px;
   border: 1px solid #ccc;
   background-color: #fafafa;
   color: #4e525b;
}