*{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body{
   background-color: #ffffff;
   color: #4e525b;

}

.header{
   background-color: #e9e9e9;
  
}

.form{
   padding: 10px;
}


.logo{
   font-size: 25px;
   display: flex;
   margin-left: 20px;
   justify-content: start;
   position: absolute;
   
}
.google{
   height:70%;
   width: 70%;
   margin-left: 10px;
}

.sub{
   padding-top: 30px;
   margin-left: 33px;
   font-size: 14px;
}

.titulo{
   padding-top: 20px;
}

.top{
   background-color: #FFF;
   padding: 10px 20px;
}

.input{
   width: 48px;
   height: 23px;
   border-radius: 8px;
   border: 1px solid #ccc;
   margin: 0 5px 0;
  
}
.chave{
   display: inline-flex;
   padding: 5px;
  
   
}

textarea{
   border-radius: 8px;
   resize: none;
   border: 1px solid #ccc;
   margin: 5px;
   padding: 10px;
   box-shadow: 0 3px 3px -3px #ccc;
   

}

.subtitulo{
   padding-bottom: 0px;
   font-size:small;

}

#root{
   text-align: center;
   padding: 20px;
   background-color: #fafafa;
   height: 140px;
   border: solid 1px #ccc;
   
}

#saiba-mais{
   font-size: 12px;
   border: none;
   display: block;
   margin-right: 20px;
   color: #4e525b;
   background-color: #fafafa;
   
}

#button{
   padding: 10px 30px;
   border-radius: 5px;
   border: 1px solid #ccc;
   background-color: #fafafa;
   color: #4e525b;
}

.setas{ 
  
}